<div class="container">
    <mat-card class="card-content">
        <form #vehicleForm="ngForm">
            <label class="heading">Set 1</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus</label><br>
                        <img class="png-icon" src="../../../assets/bus.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceA1}}</label><br>
                        <label>Cost: {{costA1}}</label><br>
                        <label>Travel Time: {{travelTimeA1}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityA1}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus + Train</label><br>
                        <img class="png-icon" src="../../../assets/train.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceB1}}</label><br>
                        <label>Cost: {{costB1}}</label><br>
                        <label>Travel Time: {{travelTimeB1}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityB1}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Low Floor A/C Bus</label><br>
                        <img class="png-icon" src="../../../assets/lowfloor.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceC1}}</label><br>
                        <label>Cost: {{costC1}}</label><br>
                        <label>Travel Time: {{travelTimeC1}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityC1}}</label><br>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Which option would you prefer the most from Set 1? </label>
                <mat-form-field>
                    <mat-select [(value)]="set1option1">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label>Which option is second best from Set 1? </label>
                <mat-form-field>
                    <mat-select [(value)]="set1option2">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <label class="heading">Set 2</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus</label><br>
                        <img class="png-icon" src="../../../assets/bus.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceA2}}</label><br>
                        <label>Cost: {{costA2}}</label><br>
                        <label>Travel Time: {{travelTimeA2}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityA2}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus + Train</label><br>
                        <img class="png-icon" src="../../../assets/train.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceB2}}</label><br>
                        <label>Cost: {{costB2}}</label><br>
                        <label>Travel Time: {{travelTimeB2}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityB2}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Low Floor A/C Bus</label><br>
                        <img class="png-icon" src="../../../assets/lowfloor.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceC2}}</label><br>
                        <label>Cost: {{costC2}}</label><br>
                        <label>Travel Time: {{travelTimeC2}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityC2}}</label><br>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Which option would you prefer the most from Set 2? </label>
                <mat-form-field>
                    <mat-select [(value)]="set2option1">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label>Which option is second best from Set 2? </label>
                <mat-form-field>
                    <mat-select [(value)]="set2option2">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <label class="heading">Set 3</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus</label><br>
                        <img class="png-icon" src="../../../assets/bus.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceA3}}</label><br>
                        <label>Cost: {{costA3}}</label><br>
                        <label>Travel Time: {{travelTimeA3}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityA3}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus + Train</label><br>
                        <img class="png-icon" src="../../../assets/train.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceB3}}</label><br>
                        <label>Cost: {{costB3}}</label><br>
                        <label>Travel Time: {{travelTimeB3}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityB3}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Low Floor A/C Bus</label><br>
                        <img class="png-icon" src="../../../assets/lowfloor.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceC3}}</label><br>
                        <label>Cost: {{costC3}}</label><br>
                        <label>Travel Time: {{travelTimeC3}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityC3}}</label><br>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Which option would you prefer the most from Set 3? </label>
                <mat-form-field>
                    <mat-select [(value)]="set3option1">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label>Which option is second best from Set 3? </label>
                <mat-form-field>
                    <mat-select [(value)]="set3option2">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <label class="heading">Set 4</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus</label><br>
                        <img class="png-icon" src="../../../assets/bus.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceA4}}</label><br>
                        <label>Cost: {{costA4}}</label><br>
                        <label>Travel Time: {{travelTimeA4}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityA4}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus + Train</label><br>
                        <img class="png-icon" src="../../../assets/train.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceB4}}</label><br>
                        <label>Cost: {{costB4}}</label><br>
                        <label>Travel Time: {{travelTimeB4}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityB4}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Low Floor A/C Bus</label><br>
                        <img class="png-icon" src="../../../assets/lowfloor.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceC4}}</label><br>
                        <label>Cost: {{costC4}}</label><br>
                        <label>Travel Time: {{travelTimeC4}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityC4}}</label><br>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Which option would you prefer the most from Set 4? </label>
                <mat-form-field>
                    <mat-select [(value)]="set4option1">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label>Which option is second best from Set 4? </label>
                <mat-form-field>
                    <mat-select [(value)]="set4option2">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <label class="heading">Set 5</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus</label><br>
                        <img class="png-icon" src="../../../assets/bus.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceA5}}</label><br>
                        <label>Cost: {{costA5}}</label><br>
                        <label>Travel Time: {{travelTimeA5}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityA5}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Normal Bus + Train</label><br>
                        <img class="png-icon" src="../../../assets/train.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceB5}}</label><br>
                        <label>Cost: {{costB5}}</label><br>
                        <label>Travel Time: {{travelTimeB5}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityB5}}</label><br>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Low Floor A/C Bus</label><br>
                        <img class="png-icon" src="../../../assets/lowfloor.jpg" style="max-width: 100px; min-width: 100px;"><br>
                        <label>Distance: {{distanceC5}}</label><br>
                        <label>Cost: {{costC5}}</label><br>
                        <label>Travel Time: {{travelTimeC5}}</label><br>
                        <label>Facilities(Wifi/AC): {{fascilityC5}}</label><br>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Which option would you prefer the most from Set 5? </label>
                <mat-form-field>
                    <mat-select [(value)]="set5option1">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label>Which option is second best from Set 5? </label>
                <mat-form-field>
                    <mat-select [(value)]="set5option2">
                        <mat-option value="Normal Bus">Normal Bus</mat-option>
                        <mat-option value="Normal Bus + Train">Normal Bus + Train</mat-option>
                        <mat-option value="Low Floor A/C Bus">Low Floor A/C Bus</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label class="heading">Socio-economic Information</label>
            </div>

            <div class="form-group">
                <label>Age: </label>
                <input class="form-control" name="age" [(ngModel)]="age" placeholder="Age" required>
            </div>

            <div class="form-group">
                <label>Gender </label>
                <mat-form-field>
                    <mat-select [(value)]="gender">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label>Occupation: </label>
                <input class="form-control" name="occupation" [(ngModel)]="occupation" placeholder="Occupation" required>
            </div>

            <div class="form-group">
                <label>Income level </label>
                <mat-form-field>
                    <mat-select [(value)]="incomeLevel">
                        <mat-option value="10,000 - 20,000">10,000 - 20,000</mat-option>
                        <mat-option value="20,000 - 40,000">20,000 - 40,000</mat-option>
                        <mat-option value="40,000 - 50,000">40,000 - 50,000</mat-option>
                        <mat-option value=">50,000">>50,000</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label class="heading">Current travel behaviour</label>
            </div>

            <div class="form-group">
                <label>Origin:</label>
                <input class="form-control" name="origin" [(ngModel)]="origin" placeholder="Origin" required>
            </div>

            <div class="form-group">
                <label>Destination:</label>
                <input class="form-control" name="destination" [(ngModel)]="destination" placeholder="Destination" required>
            </div>

            <div class="form-group">
                <label>Travel time:</label>
                <input class="form-control" name="travelTime" [(ngModel)]="travelTime" placeholder="Travel time" required>
            </div>

            <div class="form-group">
                <label>Transport modes:</label>
                <input class="form-control" name="transportmodes" [(ngModel)]="transportmodes" placeholder="Transport modes" required>
            </div>


            <div class="form-group">
                <button mat-raised-button class="btn btn-default" type="button" (click)="onSubmit(vehicleForm)" [disabled]="vehicleForm.invalid" required>
                      <i class="fa fa-floppy-o"></i>
                      Submit</button>
                <!--<button mat-raised-button class="btn btn-default" type="button" (click)="resetForm(vehicleForm)">
                      <i class="fa fa-repeat"></i>
                      Reset</button>-->
            </div>

        </form>
    </mat-card>
</div>