.form-group {
    padding: 15px;
}

.form-control {
    width: 30%;
}

.card-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.container {
    background-color: darkgray;
    width: auto;
    height: auto;
}

.heading {
    display: block;
    text-align: center;
}