/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

button:hover,
a.btn:hover {
    cursor: pointer;
}

html {
    background-color: darkgray;
}